@charset "UTF-8";

/* ESTILOS IMPRESSO */

* {
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after{
    content: "Esse artigo é um teste de estilo impresso.";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}